.text-center{
    text-align: center;
    color: rgb(241, 234, 233);
    background-color: blueviolet;

    
}

.bg-red
{

    background: red;
    
}

.mx-auto
{
    margin:auto;
}

.flex
{
  display: flex;
}

.flex-col
{

    flex-direction: column;
}
.item-center
{
    align-items: center;
}